@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__itemsCards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  min-height: 0;
  overflow-y: auto;

  &-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.25rem 0.5rem;
      width: 100%;

      &-labelQuantity {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        &-labelReduced {
          max-width: 55%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &-quantity {
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.8rem;
          background-color: $primary-color-4;
          border-radius: 0.25rem;
        }

        .zeroQuantity {
          background-color: rgb(141, 0, 0);
          color: white;
        }
      }
    }

    &-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      padding: 0.25rem 0.5rem;
      width: 100%;

      &-status {
        width: 50px;
      }
    }

    &-collapseButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 0px;
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
