@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__itemsCards {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-card{
    cursor: pointer;
    display:flex;
    flex-direction: column;
    gap:0;
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0.5rem;

    &-labelQuantity {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      &-quantity {
        width:24px;
        height:24px;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:0.9rem;
        background-color: $primary-color-4;
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 0.5rem;
    padding: 0.5rem;

    &-status{
      width:50px;
    }
  }
}
