@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__item {
  display: grid;
  justify-content: center;
  grid-template-columns:
    7rem /* category */
    7rem /* type */
    15rem /* label */
    7rem /* main */
    9rem /* sub */
    2.5rem /* quantity */
    12rem; /* notes */
  align-items: center;
  gap: 2px;
  height: 2rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover > * {
    background-color: rgba(255, 255, 255, 0.1);
  }

  & > div {
    padding: 0.25rem;
    min-height: 1.8rem;
    background-color: $primary-color-3;
    color: $text-color-2;
    text-align: center;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
