// /* Fonts */
$font_body: "Inter", sans-serif !default;
$font_titles: "Inter", sans-serif;

// /* Colors */
$primary-color-1: #0a0a0a;
$primary-color-2: #181818;
$primary-color-3: #2f2f2f;

$primary-color-4: #1b1b1b;

$secondary-color-1: #191a38;
$secondary-color-2: #111b58;

$paragraph-background: rgba(0, 0, 0, 0.2);

$highlight:#ffd480;

$text-color-1: #000;
$text-color-2: #fff;
$text-color-3: #2b3c56;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
