// /* Fonts */
$font_body: "Inter", sans-serif !default;
$font_titles: "Inter", sans-serif;

// /* Colors */
$primary-color-1: #303030;
$primary-color-2: #353535;
$primary-color-3: #404040;
$primary-color-4: #454545;

$secondary-color-1: #1976d2;
$secondary-color-2: #6faaee;

$paragraph-background: rgba(0, 0, 0, 0.2);

$highlight:#ffd480;

$text-color-1: #000;
$text-color-2: #fff;
$text-color-3: #347deb;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
