// /* Fonts */
$font_body: "Inter", sans-serif !default;
$font_elegant: "Cormorant Garamond", serif;
$font_titles: "Inter", sans-serif;

// /* Colors */
$primary-color-1: #fafafa;
$primary-color-2: #2b3c56;
$primary-color-3: #617a9c;
$primary-color-4: #3a495e;

$secondary-color-1: #191a38;
$secondary-color-2: #111b58;

$paragraph-background: rgba(0, 0, 0, 0.2);

$highlight:#ffd480;

$text-color-1: #000;
$text-color-2: #fff;
$text-color-3: #2b3c56;

/* Responsive */
$breakpoints: (
  mobile: 370px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
