@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,#root{
  margin: 0;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
  overflow: hidden;
  height: 100%;
  background-color: $primary-color-1;
}

.app {
  height:100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display:flex;
  flex-direction: column;
  min-height: 0;
  padding:1rem;
}
