@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;  /* Firefox on macOS */
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  padding:2rem;
  background-color: $primary-color-2;
}

main {
  flex: 1;
  min-height: 0;
}
