@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0 ;
  height: 100%;
  background-color: $primary-color-1;
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox on macOS */
}

.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

main {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow: hidden;
  margin:0 auto;
}
