@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__body,
.activities__body,
.access__body,
.openinghours__body,
.contact__body,
.prices__body,
.testimonials__body,
.blog__body {
  margin-top: 2rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  @include responsive-tablet {
    padding: 1rem 3rem;
  }
}

.img__logo {
  position: absolute;
  top: 9%;
  left: 5%;
  width: 10rem;
  z-index: 2;

  @include responsive-tablet {
    top: 10%;
  }

  @include responsive-desktop {
    top: 12%;
  }
}
