@use "../utils/variables" as *;
@use "../utils/mixins" as *;

html {
  font-size: 12px;
  font-weight: 500;

  @include responsive-tablet {
    font-size: 14px;
  }
  @include responsive-desktop {
    font-size: 16px;
  }
}

body {
  font-family: $font_body;
  color: $text-color-2;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}
