@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__home {
  h1 {
    margin-bottom: 3rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    
    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
    }
  }
}
