@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__home {
  h1 {
    margin-bottom: 2rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;

  &__layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    min-height: 0;

    @include responsive-desktop {
      flex-direction: row;
    }

    &-actions {
      display:none;
      flex-direction: column;
      overflow-y: auto;

      @include responsive-desktop {
        display: flex;
      }
    }

    &-items {
      display: flex;
      flex-direction: column;

      &-cards {
        display: flex;
        flex-direction: column;



        @include responsive-desktop {
          display: none;
        }
      }

      &-grid {
        display: none;
        height: 95%;
        width: 100%;
        @include responsive-desktop {
          display: grid;
        }
      }
    }
  }
}
