@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__home {
  overflow: hidden;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 0;

  h1 {
    margin-bottom: 2rem;
  }
  
  &__layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    gap: 2rem;
    width: 100%;
    min-height: 0;

    @include responsive-desktop {
      flex-direction: row;
      height: 100%;
    }

    &-actions {
      display: none;
      flex-direction: column;
      overflow-y: auto;
      min-height: 0;
      height: 100%;

      @include responsive-desktop {
        display: flex;
      }
    }

    &-items {
      display: flex;
      flex-direction: column;

      &-cards {
        display: flex;
        flex-direction: column;

        @include responsive-desktop {
          display: none;
        }
      }

      &-grid {
        display: none;
        flex: 1;
        min-height: 0;
        width: 100%;
        @include responsive-desktop {
          display: grid;
        }
      }
    }
  }
}
