@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__edit {
  background-color: $primary-color-3;
  color: $text-color-2;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid $text-color-2;

  &-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    &-spinner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2px;

      &-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $text-color-2;
        color: black;
        font-size: 0.6rem;
        width: 14px;
        height: 14px;
        border: 1px solid gray;
        cursor: pointer;

        &:hover {
          background-color: gray;
        }
      }
    }
  }

  &-locations {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.25rem;
  }

  &-apiStatus {
    height: 1.6rem;
  }
}
