@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__edit {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-3;
  color: $text-color-2;
  border-radius: 0.25rem;
  border: 1px solid $text-color-2;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: $primary-color-4;
    padding: 0.5rem;

    &-closeButton {
      display: block !important;

      @include responsive-desktop {
        display: none !important;
      }

      &-icon:hover {
        color: red;
      }
    }
  }

  &-body {
    padding: 0 1rem;
    flex: 1;
    overflow-y: auto;
    min-height: 0;

    &-quantity {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;

      &-buttons {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;

        &-spinner {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 2px;

          .spinner-icon {
            color: white;
            cursor: pointer;
            transition: color 0.2s ease;
            &:hover {
              color: gray;
            }
          }
        }
      }
    }

    &-locations {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      gap: 0.25rem;
      margin: 0.5rem 0 0 0;
    }

    &-status {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;
      padding: 0 1.3rem 0 0.6rem;

      &-label {
        font-size: 0.8rem;
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.5rem;
      width: 100%;
      margin-bottom: 1rem;
    }

    &-apiStatus {
      height: 1.6rem;
    }
  }
}
