@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__edit {
  background-color: $primary-color-4;
  color: $text-color-2;
  padding: 0.5rem;
  border-radius: 0.25rem;

  &-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
  }

  &-locations{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1rem;
  }
}
