@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__edit {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-3;
  color: $text-color-2;
  border-radius: 0.25rem;
  border: 1px solid $text-color-2;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: $primary-color-4;
    padding: 0.5rem;
    min-width:300px;

    .toggle-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      color: $text-color-2;
    }

    .toggle-btn:hover {
      opacity: 0.7;
    }

    .toggle-btn svg {
      transition: transform 0.3s ease;
    }

    .toggle-btn.open svg {
      transform: rotate(180deg);
    }
  }

  &-body {
    &-textField {
      padding: 0 0.5rem;
    }

    &-quantity {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      padding: 0 0.5rem;

      &-spinner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2px;

        &-button {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $text-color-2;
          color: black;
          font-size: 0.6rem;
          width: 14px;
          height: 14px;
          border: 1px solid gray;
          cursor: pointer;

          &:hover {
            background-color: gray;
          }
        }
      }
    }

    &-locations {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      gap: 0.25rem;
      margin: 0.5rem 0 0 0;
      padding: 0 0.5rem;
    }

    &-status {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;
      padding: 0 1.3rem 0 0.6rem;

      &-label {
        font-size: 0.8rem;
      }
    }

    &-apiStatus {
      height: 1.6rem;
    }
  }
}
