@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.container__edit {
  display: flex;
  flex-direction: column;
  background-color: $primary-color-3;
  color: $text-color-2;
  border-radius: 0.25rem;
  border: 1px solid $text-color-2;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: $primary-color-4;
    padding: 0.5rem;

    .toggle-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0.25rem;
      display: flex;
      align-items: center;
      color: $text-color-2;
    }

    .toggle-btn:hover {
      opacity: 0.7;
    }

    .toggle-btn svg {
      transition: transform 0.3s ease;
    }

    .toggle-btn.open svg {
      transform: rotate(180deg);
    }
  }

  &-body {
    padding: 0 1rem;


    &-quantity {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;

      &-buttons {
        display: flex;
        flex-direction: row;
        gap: 0.25rem;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;

        &-spinner {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 2px;

          .spinner-icon {
            color: white;
            cursor: pointer;
            transition: color 0.2s ease;
            &:hover {
              color: gray;
            }
          }
        }
      }
    }

    &-locations {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
      gap: 0.25rem;
      margin: 0.5rem 0 0 0;
    }

    &-status {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.8rem;
      padding: 0 1.3rem 0 0.6rem;

      &-label {
        font-size: 0.8rem;
      }
    }

    &-actionButtons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 0.5rem;

      &-button {
        flex: 0 0 49%;
        text-align: center;
        position: relative;
        overflow: hidden;
        font-size: 0.9rem;
        border: none;
        border-radius: 0.25rem;
        padding: 0.25rem 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          opacity: 0.7;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(255, 255, 255, 0.3);
          opacity: 0;
          transition: opacity 0.3s;
          pointer-events: none;
          border-radius: inherit;
        }

        &:active::after {
          opacity: 1;
          transition: opacity 0.1s;
        }
      }

      .reset-button {
        background-color: gray;
        color: white;
      }

      .create-button {
        background-color: rgb(0, 146, 0);
        color: white;
      }
      .create-button {
        background-color: rgb(0, 146, 0);
        color: white;
      }
      .update-button {
        background-color: rgb(255, 152, 0);
        color: white;
      }
      .delete-button {
        background-color: rgb(244, 67, 54);
        color: white;
      }
    }

    &-apiStatus {
      height: 1.6rem;
    }
  }
}
